# not created by circuitpython, but may be by IDE/cpython
__pycache__/

# byte-compiled circuitpython files
*.mpy

# files with "secret" information -- passwords, etc.
secrets.py

# test output specific to my board
test_results.txt

# various environment-specific configurations
.idea/
.vscode/
.nvmrc
.python-version

# specific to individual board
boot_out.txt
# vscode workspace seems to be pretty machine-specific, sharing it not useful
*.code-workspace

bootloader/
load_bootloader.sh
tiny_uf2/
*.uf2
*.wp?
.DS_Store
# secrets variables
settings.toml
