# Found device at /media/lloyd/CIRCUITPY, running CircuitPython 7.2.0-alpha.2.
# output by circup freeze, 02/19/2022
adafruit_pca9685==3.4.1
adafruit_servokit==1.3.7
adafruit_bus_device==5.1.7
adafruit_motor==3.3.5
adafruit_register==1.9.8
