# packages to build local copies of docs
rstcheck
sphinx-autobuild
sphinx-rtd-theme

# formatting tools
black
isort

# static analysis tools. may report things that would be a problem with cpython but are
# not a problem with circuitpython, use your discretion
flake8
mypy
