# these are modules from the adafruit library, which are convenient for reference while developing
adafruit-circuitpython-motor
adafruit-circuitpython-adafruitio
adafruit-circuitpython-esp32spi
adafruit-circuitpython-portalbase
adafruit-circuitpython-servokit

# these are tools used to convert python text to the compressed mpy format
circuitpython-build-tools

# tool to install actual circuitpython libraryies to board, se board-requirements.in, board-requirements.txt
circup
